<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать Email</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/" class="home-link">
            <img src="/image/icons8-клиенты-64.png">
        </a>
    </div>
    <div class="main-content-two">
        <form th:action="@{/email/update/{id}(id=${emailPerson.id})}" th:object="${emailPerson}" method="post" class="form">
            <div class="form-group">
                <label for="person">Клиент:</label>
                <select id="person" th:field="*{personId}" class="input-field">
                    <option th:each="person : ${persons}" th:value="${person.id}" th:text="${person.type}">Клиент</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" class="input-field"/>
                <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Неверный формат email</span><br>
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
